@charset "utf-8";
/* CSS Document */
body {
  width: 100%;
  height: 100%;
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr 1fr 1fr 1fr 1fr 50px;
  gap: 5px; 
}

title {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-content: left;
}
/* Style the button that is used to open and close the collapsible content */
#collapsible {
  background-color: #1E1B55;
  color: #FFFFFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  grid-column: 1/2;
}
.return {
  grid-column: 1/2;
  grid-row: 7/8;
  justify-content: end;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ACA9E4;
  color:#1E1B55;
}
/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ACA9E4;
  grid-column: 1/2;
}

/*specific button locations*/
#A-1{
  grid-row: 2/3;
}
#A-2 {
  grid-row: 3/4;
}
#A-3 {
  grid-row: 4/5;
}
#A-4 {
  grid-row: 5/6;
}
#B-1 {
  grid-row: 2/3;
}
#B-2 {
  grid-row: 3/4;
}
#B-3 {
  grid-row: 4/5;
}
#B-4 {
  grid-row: 5/6;
}
#AB-1 {
  grid-row: 6/7;
}
